/*! Building Interfaces HTML5 template */




/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
    font-family:'arial', 'helvetica', sans-serif;
    font-size: 13px;
    color: white;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    min-height: 800px;
}


h1 {
    font-family: 'Orbitron', sans-serif;
    margin-top: 0;
    padding-top: 10px;
    background-color: black;
    text-align: center;
    border-radius: 100%;
}

h2 {
    color: black;
    font-family: 'Orbitron', sans-serif; 
    max-width: 150px;
    margin-top: -280px;
    margin-left: 620px;
}

figure {
     max-width: 410px;

}

.photo {
    max-width: 400px;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 3px 3px 3px #000;
    margin-bottom: 10px;
}

.maintext {
    border: 20px solid black;
    color: black;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -250px;
    font-family: arial;
    padding: 20px;
    padding-top: 0px;
    float: right;
}
    
.hobbies {
    color: white;;
        max-width: 400px;
        margin-top: 350px;
    
}

.guitarcap {
    color: black;
  width: 190px; 
    margin-left: 120px;
    margin-top: -50px;
   
    
}

.tenniscap {
    color: black;
       width: 250px; 
    margin-left: 120px;
    margin-top: -50px;  
     
}

.tennisimg {
    width: 50px;
    margin-top: 70px;
    margin-left: 30px;
    
}

.skills {
    float: right;
    margin-right: 120px;
    margin-top: -273px;
}



.photocap {
   float: right;
    margin-top: 50px;
}



.wrap {
	background-color: #2f2f2f;
    margin: auto;
    width: 960px;
    text-align: center;
    color: white;
}

a {
 color: red;   
}

a :link {
     color: red;   
}

a :hover { 
    border-bottom: 2px solid black;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Mobile */
@media only screen and (min-width: 480px) {}
/* Intermediate */
@media only screen and (min-width: 768px) {}
/* Wide */
@media only screen and (min-width: 1140px) {}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}